<!DOCTYPE html>
<html lang="cs">
<%# Import <head></head> %>
<%- include('../partials/head'); %>
<body>
<script>
    // Load events from server to access it via JS
    const events = JSON.parse(JSON.stringify(<%- JSON.stringify(data) %>, null, 2));
</script>
<main>
    <header>
        <h1><a href="">Work Scheduler</a></h1>
    </header>
    <div class="calendar-selection">
        <form action="" method="get" id="event-select">
            <input type="number" id="year" name="year" maxlength="4" min="2024" max="2030" value="2024"
                   onchange="dateSelectionSubmit()" required>
            <select id="month" name="month" onchange="dateSelectionSubmit()" required>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </form>
    </div>

    <div class="calendar">
        <table>
            <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            </thead>
            <tbody id="calendar-body">
            </tbody>
        </table>
        <div id="calendar-tools">
            <button class="calendar-input-button" id="export" type="submit" onclick="reportOpen()">Export</button>
            <button class="calendar-input-button" id="fill" type="submit" formmethod="post" formaction="/fill"
                    style="display: none;">Fill
            </button>
        </div>

        <div id="event-container" style="display: none;">
            <form action="">
                <div id="event-basics">
                    <p id="event-date-p"></p>
                    <input type="text" id="event-date" name="date" hidden>
                    <input type="text" id="event-id" name="id" hidden>
                    <button onclick="eventClose()" id="event-close" type="button" >X</button>
                </div>
                <div id="event-time">
                    <input type="time" id="event-time-from" class="event-time-input" name="from" min="09:00" max="19:00"
                           required>
                    <p>_</p>
                    <input type="time" id="event-time-to" class="event-time-input" name="to" min="09:00" max="19:00"
                           required>
                </div>
                <div id="event-controls">
                    <button type="submit" id="event-add" class="event-button calendar-input-button" type="submit" formmethod="post"
                            formaction="schedule/event/add">Add
                    </button>
                    <button type="submit" id="event-delete" class="event-button calendar-input-button" type="submit" formmethod="post"
                            formaction="schedule/event/delete">Delete
                    </button>
                    <button type="submit" id="event-update" class="event-button calendar-input-button" type="submit" formmethod="post"
                            formaction="schedule/event/update">Update
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="report-container">
        <div id="report-controls">
            <button id="report-add" class="event-button calendar-input-button" type="button" onclick="reportExport()">Export</button>
            <button id="report-close" class="event-button calendar-input-button" type="button" onclick="reportClose()">X</button>
        </div>
        <div id="report" class="">
            <table id="report-table">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Hodiny</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="sum">
                <p id="counter"></p>
                <p id="money"></p>
                <p>Erik Vaněk</p>
            </div>
        </div>
    </div>

    <button onclick="toggleDebug()" class="submit-button" type="button" style="color: lightgray; font-size: 10px;">Debug</button>

    <div id="events-debug" style="display: none; font-family: 'Consolas'; position: absolute; bottom: 0; color: grey; width: 20rem">
        <%# Display events %>
        <% if (typeof data !== 'undefined') {
        for (var i = 0; i < data.length; i++) {
            var event = data[i]; %>
        <div style="display: flex; justify-content: space-between; width: 10rem;">
            <p><%= event.start.date %></p>
            <p><%= event.summary %></p>
            <p><%= event.description %></p>
        </div>
        <% }
        } %>
    </div>
</main>
<%# Import <footer></footer> %>
<%- include('../partials/footer'); %>
<script>
    // Open close debug events
    const debug = document.getElementById('events-debug');
    let debugVisible = false;

    function toggleDebug() {
        debug.style.display = debugVisible ? 'none' : 'block';
        debugVisible = !debugVisible;
    }
</script>
<script src="js/report.js"></script>
<script src="js/schedule-script.js"></script>
</body>
</html>